<a href="https://colab.research.google.com/github/Rahul-9307/Financial-Market-Sentiment-Analysis-Project/blob/main/Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ecommerce Dataset: EDA**

In [ ]:
# Import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

https://github.com/YBIFoundation/Pandas/raw/refs/heads/main/EcommerceEDA.csv

In [ ]:
# Read dataset
df = pd.read_csv('https://github.com/YBIFoundation/Pandas/raw/refs/heads/main/EcommerceEDA.csv')

In [ ]:
df.head()

,order_id,customer_id,order_date,category,product,price,quantity,total_price,state,region,payment_method
0,9543,N50867,01-06-2023 06:04,Groceries,Milk,1581.79,5.0,7908.95,Rajasthan,North,UPI
1,4597,S29121,09-06-2024 13:25,Beauty,Perfume,1347.40,5.0,6737.00,Andhra Pradesh,South,Debit Card
2,4273,E16999,24-02-2023 21:16,Groceries,Fruits,1210.50,2.0,2421.00,West Bengal,East,UPI
3,6810,W96167,26-12-2023 11:12,Groceries,Vegetables,896.23,5.0,4481.15,Madhya Pradesh,West,PayPal
4,2316,N48352,10-11-2024 00:13,Apparel,Jacket,1463.49,2.0,2926.98,Uttar Pradesh,North,Debit Card

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10100 entries, 0 to 10099
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        10100 non-null  int64
 1   customer_id     10100 non-null  object
 2   order_date      10100 non-null  object
 3   category        10100 non-null  object
 4   product         10100 non-null  object
 5   price           9896 non-null   float64
 6   quantity        9896 non-null   float64
 7   total_price     10100 non-null  float64
 8   state           9852 non-null   object
 9   region          10100 non-null  object
 10  payment_method  9896 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 868.1+ KB

In [ ]:
df.describe()

           order_id        price     quantity   total_price
count  10100.000000  9896.000000  9896.000000  10100.000000
mean    4999.068812  1052.290106     2.988278   3144.703336
std     2886.147371   550.498749     1.417021   2361.322266
min        1.000000   100.700000     1.000000    100.830000
25%     2502.750000   576.777500     2.000000   1231.450000
50%     4998.500000  1059.990000     3.000000   2500.880000
75%     7495.250000  1532.152500     4.000000   4641.180000
max    10000.000000  1999.870000     5.000000   9997.450000

In [ ]:
# Missing value count
df.isna().sum()

order_id            0
customer_id         0
order_date          0
category            0
product             0
price             204
quantity          204
total_price         0
state             248
region              0
payment_method    204
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10100 entries, 0 to 10099
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        10100 non-null  int64
 1   customer_id     10100 non-null  object
 2   order_date      4015 non-null   datetime64[ns]
 3   category        10100 non-null  object
 4   product         10100 non-null  object
 5   price           9896 non-null   float64
 6   quantity        9896 non-null   float64
 7   total_price     10100 non-null  float64
 8   state           9852 non-null   object
 9   region          10100 non-null  object
 10  payment_method  9896 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 868.1+ KB

In [ ]:
df['price'].median()

1059.99

In [ ]:
# Missing value fill
df['price'].fillna(df['price'].median(), inplace = True)

/tmp/ipython-input-58-1403100268.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(df['price'].median(), inplace = True)

In [ ]:
df.isna().sum()

order_id             0
customer_id          0
order_date        6085
category             0
product              0
price                0
quantity           204
total_price          0
state              248
region               0
payment_method     204
dtype: int64

In [ ]:
df.isna().sum()

order_id             0
customer_id          0
order_date        6085
category             0
product              0
price                0
quantity             0
total_price          0
state              248
region               0
payment_method     204
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3913 entries, 0 to 10097
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        3913 non-null   int64
 1   customer_id     3913 non-null   object
 2   order_date      3913 non-null   datetime64[ns]
 3   category        3913 non-null   object
 4   product         3913 non-null   object
 5   price           3913 non-null   float64
 6   quantity        3913 non-null   float64
 7   total_price     3913 non-null   float64
 8   state           3913 non-null   object
 9   region          3913 non-null   object
 10  payment_method  3913 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 366.8+ KB

In [ ]:
# Question: Which product categories generate the highest total sales, and how do they compare?

df['category'].value_counts()

category
Groceries      694
Electronics    686
Books          673
Beauty         644
Home Goods     632
Apparel        584
Name: count, dtype: int64

In [ ]:
df.groupby('category')['total_price'].sum().sort_values()

## Question: Which regions contribute most to sales, and are there significant differences in sales between regions?

In [ ]:
df.groupby('region')['total_price'].sum()

region
East       2426444.76
North      2434672.33
South      3794370.40
Unknown     190982.73
West       3277837.90
Name: total_price, dtype: float64